@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
		
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
		
		@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
		
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
		
		body {
			background-color: #EDE7DC;
		}
		
		.navbar, footer {
			background-color: #8A523D;
		}
		
		.navbar, .botones {
			flex-grow: 1;
		}
		
		li {
			width: 140px;
		}
		
		.marron {
			background-color: #CF9A7C;
		}
		
		.marron2 {
			background-color: #8A523D;
		}
		
		.caja {
			background-image: url('/img/paw2.png');
			background-size: cover;
			background-repeat: no-repeat;
			height: 400px;
		}

		@media screen and (max-width:321px){
			.caja {
				margin-bottom: 100px;
			}
		}
		
		.bienvenida p:first-child {
			font-size: 12pt;
			font-family: 'Montserrat', sans-serif;
			font-style: italic;
		}
		
		.bienvenida p:nth-child(3) {
			font-size: 25pt;
			text-align: left;
			font-weight: bold;
			letter-spacing: 0.5px;
			font-family: 'Abril Fatface', cursive;
			color: #493424;
		}
		
		.bienvenida p:nth-child(5) {
			text-align: justify;
		}
		
		.border {
			border: 3px solid rgb(0, 0, 0);
		}
		
		#inputName4, #inputLastName4, #inputEmail4, #inputTlf4, #inputDate,
			#numero, #caducidad, #gato, #personas {
			width: 80%;
		}
		
		
		select #inputTipo {
			width: 100%;
		}
		
		
		
		#Gato, #Reserva {
			display: none;
		}
		
		#Gato:target, #Reserva:target {
			display: inherit;
		}
		
		#barra, #barra2 {
			height: 4px;
		}
		
		#enlace1:hover, #enlace2:hover {
			color: #8A523D;
		}
		
		#enlace1 p, #enlace2 p {
			font-family: 'Montserrat', sans-serif;
			font-size: 11pt;
		}
		
		.fotos:hover {
			transform: scale(1.2);
			transition-duration: 0.9s;
			transition-timing-function: ease;
		}
		
		.fotos p {
			font-size: 15pt;
			font-family: 'Montserrat', sans-serif;
		}

		#cajainfo {
			background-image: url('/img/fondopaw.png');
			background-size: cover;
			background-repeat: no-repeat;
		}
		
		@media screen and (min-width: 1200px) {
			h4 {
				height: 10px;
			}
		}
		
		#accordion {
			color: rgb(0, 0, 0);
		}
		
		.saber:hover {
			background-color: #8A523D;
		}
		
		.filtro {
			width: 90%;
			height: 40px;
		}
		
		@media screen and (max-width: 500px) {
			#buscar, .boton {
				display: none;
			}
		}